@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');
html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: rgba(250, 235, 215, 0.913);

    color: rgb(4, 4, 77);
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.joke-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(252, 243, 232, 0.905);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.joke-text{
    font-size: 2rem;
}
.long-joke{font-size:1.75rem;}/* we use this class in our Javascript to toggle of and on when needed */

.fa-joke-left, .fa-joke-right{
    font-size: 2rem;
}


.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background: rgb(22, 7, 7) ;
    color: rgb(252, 243, 232) ;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(4, 4, 77, 0.237);
    
}

button:hover{
    filter: brightness(110%);
}

button:active{
    transform:translate(0,0.3rem);
    box-shadow:0 0.1rem rgba(4, 4, 77, 0.237);  
}

.twitter-button:hover{
    color:#38a1f3;
}

.fa-twitter{
    font-size: 1.5rem;
}

/* Loader */

.loader {
  border: 16px solid rgb(221, 213, 203); /* Light grey */
  border-top: 16px solid rgb(4, 4, 77); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px){
    .joke-container{
        margin: auto 10px;
    }
    .joke-text{
        font-size: 1.5rem;
    }
    .joke-author {
        font-size: 1.3rem;
    }
}